@media screen and (max-width: 560px) {
  .hero-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    gap: 20px;
  }

  .hero-texts p {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(255, 255, 255, .5);
  }
  
  .hero-texts h1 {
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 4rem;
    padding: 0 20px;
  }

  .hero-container .hero-logo {
    max-width: 360px;
    height: 130px;
  }
  
  .hero-container .hero-logo img {
    max-width: 100% ;
    height: auto;
    object-fit: cover;
  }
}


@media screen and (min-width: 1536px){
  .property-content {
    position: relative;
    display: grid;
    width: 100%;
    height: 500px;
    /* border: 1px solid green; */
    box-shadow: 0 0 4px 0 rgba(255,255,255, .7);
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    color: white;
  }
  .property-details {
    padding: 20px;
    color: rgba(0,0,0,.8);
  }
  .property-price, .property-content h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .property-location h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,.5);
  }
  .property-content .property-specifics-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 40px;
    flex: 1 1 1;
  }
  .property-details .property-description {
    padding-top: 40px;
    font-size: 1.5rem;
  }
  .property-content .property-specifics-container > div {
   flex: 1 1 35%;
  }
  .property-card-details .property-specifics-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .property-specifics i, .property-specifics p {
    font-size: 2rem;
  }
  .property-specifics-value {
    font-weight: 400;
    font-size: 2rem;
  }
  .property-card-details .property-specifics-value {
    font-weight: 400;
    font-size: 1rem;
  }
  .property-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .property-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .property-card img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: center center;
    translate: all .5s ease-in-out;
  }
  
  .property-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 0 0 90px 0;
  }
  .property-card-details .property-specifics p, .property-card-details .property-specifics i{
    font-size: 1rem;
  }
  .property-item {
    width: 100%;
    height: auto;
    /* border: 1px solid green; */
    box-shadow: 0 0 4px 0 rgba(0,0,0, .2);
    border-radius: 8px;
    overflow: hidden;
  }
  .property-item:hover {
    box-shadow: 0 0 4px 0 rgba(0,0,0, .7);
    /* box-shadow: 0 0 4px 0 rgba(255,255,255, .7); */
  }
  .property-card {
    position: relative;
    width: 100%;
    height: auto;
  }
  .property-card-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .property-card img, .property-image img {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
  }
  .property-card img:hover, .property-image img:hover {
    transform: scale(1);
    transition: all .5s ease-in-out;
    cursor: pointer;
  }
  .property-card-details {
    padding: 10px;
  }
  .property-card-details .property-price {
    font-size: 1rem;
  }
  .property-card-details .btn {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
  }
  .property-card-details .btn:hover {
    border: 2px solid transparent;
  }
  
  .property-name {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1150px) {
  .user-search form:not(.dropdown .search form) {
    display: none;
  }
  .dropdown .search{
    display: block;
    padding: 10px;
  }
  .dropdown .search input {
    width: 100%;
    transition: all 0s ease-in-out;
  }
  .navlink li a {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #navlogo {
    padding: 0
  }
 .user-search {
  width: max-content;
  flex-shrink: 3;
 }

}
@media screen and (max-width: 1000px) {
  /* .user-search {
    display: none;
  } */
  /* .mobile-nav {
    z-index: -1;
    width: 100%;
    inset: 0 0 0 30%;
    padding: min(10vh, 10em);
    display: none;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
  }
  .navlink {
    gap: 5px;
  } */
}
/* @media screen and (max-width: 830px) {
  .dropdown-menu .search {
    display: none;
  }
} */
/* @media only screen and (min-width: 830px) and (max-width: 900px) {
  .user-search {
    display: none;
  }
} */
@media screen and (min-width: 830px) and (max-width: 900px) {
  .user-search {
    display: none;
  }
}
@media screen and (max-width: 830px) {
  .navbar {
    /* flex-direction: column; */
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow .3s ease-out;
  }
  .navigation {
    display: none;
  }
  .nav-toggle {
    display: block;
    transition: all .3s ease-in-out
    /* position: fixed; */
      /* top: 0;
      right: 0; */
    /* margin-right: 10%;
    margin-top: 14px; */
  }
  .user-search {
    position: fixed;
    top: 0;
    right: 130px;
    top: 14px;
  }
}
@media screen and (max-width: 780px) {
  .user-search {
    right: 125px;
  }
}
@media screen and (max-width: 730px) {
  .user-search {
    right: 120px;
  }
}
@media screen and (max-width: 660px) {
  .user-search {
    right: 115px;
  }
}
@media screen and (max-width: 1024px) {
  .property-list {
    grid-template-columns: repeat(2,1fr);
  }
  .property-item:last-of-type {
    grid-column: span 2;
  }
  .footer-container {
    grid-template-columns: repeat(2,1fr);
  }
  .footer-item:first-of-type {
    grid-column: span 2;
    text-align: center;
  }
  .footer-item:nth-of-type(4) {
    grid-column: span 2;
    text-align: center;
  }
  .property-price, .property-content h3 {
    font-size: 1.8rem;
  }
  .property-location h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0,0,0,.5);
  }
  .property-specifics i, .property-specifics p, .property-specifics-value {
    font-size: 1.5rem;
  }
  .property-description {
    font-size: 1.1rem;
  }
  .section-title {
    font-size: 2.1rem;
  }
  .section-divider {
    height: 3px;
  }
  #back-to-top {
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 55px;
  }
  /* #services-section, #about-section{
    height: 100%;
  } */
  .container:not(header .container, hr.container) {
    padding-bottom: 20px;
  }
  
  .service-title {
    font-size: 1.2rem;
  }
  .service-icon {
    font-size: 2.2rem;
  }
  .grid div{
    padding: 10px;
  }
  .carousel-description p:first-of-type{
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  .carousel-description p:last-of-type{
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  .carousel-description h3 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .property-content {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .property-content img {
    max-height: 500px
  }
  .property-list {
    display: flex;
    flex-direction: column;
  }
  
  .footer-container {
    grid-template-columns: repeat(2,1fr);
  }
  .footer-item:first-of-type {
    grid-column: span 2;
    text-align: center;
  }
  .footer-item:nth-of-type(4) {
    grid-column: span 2;
    text-align: center;
  }
  section:not(section#gallery-section) {
    height: 100%;
  }
  
  .about-divider {
    flex-direction: column;
  }
  .about-divider img {
    height: 50%;
    width: 100%;
  }
  .about-details {
    padding: 0 20px 20px;
  }
  .about-heading {
    font-size: 1.2rem;
    color: white;
    margin: 10px 0;
    text-align: center;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .sub-con > div:first-child, .sub-con > div:last-child {
    display: none;
  }
 
  #back-to-top {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 50px;
  }
  .carousel-description p:first-of-type{
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .carousel-description p:last-of-type{
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .carousel-description h3 {
    font-size: 3rem;
  }
  .go-back-text {
    display: none;
  }
  .go-back-arrow {
    display: inline-block;
  }
  .navigation {
   position: fixed;
   flex-direction: column;
   inset: 0 0 0 30%;
   padding: min(20vh, 10em) 2em;
   text-align: center;
   transform: translateX(0);
   transition: all .5s ease;
   background-color: rgba(0,0,0,.5);
   backdrop-filter: blur(8px);
  }
  .navigation .dropdown-menu {
    /* align-items: center; */
    /* position: relative; */
    /* display: none; */
    z-index: 999;
  }
  .navigation .dropdown .dropdown-menu {
    display: block;
    transition: all .3s ease;
  }
  .navigation ul {
    flex-direction: column;
    align-items: center;
  }
  /* .navigation ul li a:not(.dropdown-menu a) {
    display: block;
    width: 100%;
  } */
  /* .user-search {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: max(6em, 16.5%);
    margin-top: 14px;
    z-index: 200;
  }
  .user .search {
    display: none;
  }
  .user-search .search {
    display: block;
  } */
  /* .user .search {
    display: none;
  } */
  .close-button .nav-btn:nth-of-type(2) {
    z-index: -1;
    opacity: 0;
    transition: all 300ms ease-in-out;
    }
    .close-button .nav-btn:first-of-type {
      transform: rotate(135deg) translate(3px, -9px);
    z-index: -1;
    transition: all 300ms ease-in-out;
    }
    .close-button .nav-btn:nth-of-type(3) {
      transform: rotate(-135deg) translate(3px, 9px);
    z-index: -1;
    transition: all 300ms ease-in-out;
    }
  
  .navigation.show {
    display: flex;
    flex-direction: column;
  }
 
}
@media screen and (max-width: 640px) {
  .property-list {
    display: flex;
    flex-direction: column;
  }
  .section-title {
    font-size: 1.8rem;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .foot-item {
    text-align: center;
  }
  .flex-container {
    flex-direction: column;
    padding: 20px 0;
  }
  .flex-container .flex-item {
    padding: 20px 0;
  }
  .container {
    max-width: 90%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .service-icon {
    font-size: 2.5rem;
  }
  .grid > div{
    padding: 20px;
  }
  .service-title {
    font-size: 1.4rem;
  }
  .subscribe-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #subscribe-form .contact-form {
    margin: 20px auto;
  }
  
  #subscribe-form {
    padding: 20px 0;
  }
  .btn {
    padding: 10px 20px;
  }
  .nav-toggle {
    right: 5%;
  }
  
  div.search:not(li.search) {
    display: block;
  }
  .user-search {
    right: 80px;
  }
}
@media screen and (max-width: 560px) {
  .user-search {
    right: 78px;
  }
}
@media screen and (max-width: 470px) {
  .user-search {
    right: 73px;
  }
}