#condo-main, #commercial-space-main, #houseandlot-main, #land-main {
    position: relative;
  }
#condo-main .wrapper, #commercial-space-main .wrapper, #houseandlot-main .wrapper, #land-main .wrapper {
  background: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .5))
}
.property-content {
  position: relative;
  display: grid;
  width: 100%;
  height: 500px;
  /* border: 1px solid green; */
  box-shadow: 0 0 4px 0 rgba(255,255,255, .7);
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}
.property-details {
  padding: 20px;
  color: rgba(0,0,0,.8);
}
.property-price, .property-content h3 {
  font-size: 2rem;
  font-weight: 500;
}
.property-location h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0,0,0,.5);
}
.property-content .property-specifics-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 40px;
  flex: 1 1 1;
}
.property-details .property-description {
  padding-top: 40px;
  font-size: 1.5rem;
}
.property-content .property-specifics-container > div {
 flex: 1 1 35%;
}
.property-card-details .property-specifics-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}
.property-specifics i, .property-specifics p {
  font-size: 2rem;
}
.property-specifics-value {
  font-weight: 400;
  font-size: 2rem;
}
.property-card-details .property-specifics-value {
  font-weight: 400;
  font-size: 1rem;
}
.property-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.property-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.property-card img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: center center;
  translate: all .5s ease-in-out;
}

.property-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 0 0 90px 0;
}
.property-card-details .property-specifics p, .property-card-details .property-specifics i{
  font-size: 1rem;
}
.property-item {
  width: 100%;
  height: auto;
  /* border: 1px solid green; */
  box-shadow: 0 0 4px 0 rgba(0,0,0, .2);
  border-radius: 8px;
  overflow: hidden;
}
.property-item:hover {
  box-shadow: 0 0 4px 0 rgba(0,0,0, .7);
  /* box-shadow: 0 0 4px 0 rgba(255,255,255, .7); */
}
.property-card {
  position: relative;
  width: 100%;
  height: auto;
}
.property-card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.property-card img, .property-image img {
  transform: scale(1.2);
  transition: all .5s ease-in-out;
}
.property-card img:hover, .property-image img:hover {
  transform: scale(1);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.property-card-details {
  padding: 10px;
}
.property-card-details .property-price {
  font-size: 1rem;
}
.property-card-details h3 {
  /* margin-bottom: 30px; */
}
.property-card-details .btn {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
}
.property-card-details .btn:hover {
  border: 2px solid transparent;
}

.property-name {
  display: flex;
  justify-content: space-between;
}







/* 
.property-image::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.3);
}
.property-card-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.3);
} */