/* hero section */
#hero-section {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url(/images/bg-hero-main.jpg) no-repeat top center/ cover;
}

.hero-container {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

.hero-container .hero-logo {
  max-width: 500px;
  height: 180px;
}

.hero-container .hero-logo img {
  max-width: 100% ;
  height: 100%;
  object-fit: cover;
}

.hero-texts {
  text-align: center;
}

.hero-texts p {
  font-weight: 400;
  font-size: 1.8rem;
  color: rgb(255, 255, 255, .5);
}

.hero-texts h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 5rem;
}

.hero-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;
}



/* header-navigation section */
/* #nav-section {
  height: 110px;
  background: rgba(0, 0, 0, .5);
  background: rgba(255, 255, 255, 0.5);

  position: sticky;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1000;
} */

header {
  /* background: rgba(0, 0, 0, 0.5); */
  /* background: rgba(255, 255, 255, 0.5); */
  /* position: sticky; */

  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 100;
  /* background: rgba(0, 0, 0, .5); */
  /* backdrop-filter: blur(8px); */
  
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 3px 0 rgb(255, 255, 255, .8);
  /* border-bottom: 1px solid #c8b568aa; */
  /* width: 100%; */
}

.navbar {
  /* background-color: transparent; */
  /* background: rgba(255, 255, 255, 0.5); */
  /* backdrop-filter: blur(8px); */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 50px; */
}


#navbar img {
  height: 80px;
  min-width: 220px;
  /* border: 1px solid green; */
  /* object-fit: cover; */
}

#navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* gap: 10px; */
}

#navbar ul li:not(.dropdown-menu li) {
  padding: 10px 5px;
}

#navbar ul li a {
  font-size: 1.1rem;
  color: white;
  padding: 10px;
}

#navbar a:hover {
  color: var(--primary-color);
}

#properties-list li a{
  display: block;
  /* padding: 20px 10px; */
}

.dropdown-menu{
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  /* transform: translateY(-10px); */
  backdrop-filter: blur(4px);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(255,255,255, .5);
  overflow: hidden;
  pointer-events: none;
  transition: all .3s ease-in-out;
}
.dropbtn:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown-menu{
  visibility: visible;
  transition: all .3s ease-in-out;
  transform: translateY(10px);
  pointer-events: auto;
}
.dropdown:hover .dropdown-menu a:hover {
  background-color: rgba(255,255,255, .1);
  box-shadow: 0 1px 3px 0 rgba(255,255,255, .8);

}

/* gallery section */
.slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* carousel section */
#gallery-section {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
}

.carousel-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
  align-items: start;
  padding-left: 10%;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  color: white;
  z-index: 1;
}
.carousel-description p:first-of-type{
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.carousel-description p:last-of-type{
  margin-top: 10px;
  font-size: 1.5rem;
}

.carousel-description h3 {
  font-size: 5rem;
  line-height: 1;
  color: var(--primary-color);
}
.carousel-description a {
  margin-top: 40px;
}
.carousel-description span {
  display: block;
  color: var(--logo-color);
}
.carousel-description .btn:hover {
  border: 2px solid transparent;
}
.carousel-slide img {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  /* z-index: 1; */
}
.slide-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s linear;
  animation: slideEffect 1s linear forwards;
}
@keyframes slide-effect {
  0% {
    transform: translateX(100%);
  }
  9.09% {
    transform: translateX(0)
  }
  90.01% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .4s ease;
}

.current {
  transform: translateX(0);
}

/* .slide-in {
  transform: translateX(100%);
}

.slide-out {
  transform: translateX(-100%);
} */


#prev-btn {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2rem;
  border: transparent;
  background-color: rgba(255,255,255, .3);
  color: #ffffff;
  z-index: 1;
}

#prev-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 255, 255, .4);
}

#next-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2rem;
  border: transparent;
  background-color: rgba(255,255,255, .3);
  color: #ffffff;
  z-index: 1;
}

#next-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 255, 255, .4);
}

/* services section */
#services-section {
  position: relative;
  background: url(/images/bg-service.jpg) center center/ cover;
}

#services-section .service-description {
  color: white;
  text-align: center;
}
.service-title {
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.service-title a {
  text-decoration: none;
  color: #ffffff;
}
.service-title a:hover {
  text-decoration: underline;
}
.service-icon  {
  text-align: center;
  display: block;
  font-size: 4rem;
  /* height: 100px; */
  /* width: 100px; */
  margin: 0 auto;
  padding: 10px;
  color: var(--primary-color);
}

/* about-section */
#about-section {
  background: url(/images/bg-services.jpg) top center/cover;
}
#about-section img {
  height: 100%;
  flex-basis: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.about-divider {
  background-color: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.about-details {
  padding: 0 20px;
}
.about-heading {
  font-size: 1.5rem;
  color: white;
  margin: 10px 0;
}
.about-description {
  color: white;
  line-height: 1.4;
}

/* faq accordion */
/* .accordion {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.accordion-button {
  display: block;
  padding: 20px 10px;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid rgba(73, 72, 72, 0.8);
} */

/* custom accordion */
#accordion-container {
  border-radius: 10px;
  border: 0;
  overflow: hidden;
}
.faq-accordion-btn {
  text-align: start;
  /* display: block; */
  position: relative;
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom: 1px solid rgba(73, 72, 72, 0.8);

  font-size: 1.2rem;
}
.faq-accordion-item:first-child .faq-accordion-btn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.faq-accordion-item:last-child .faq-accordion-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0;
}
.faq-accordion-btn:hover {
  cursor: pointer;
}
.faq-accordion-content {
  display: none;
  padding: 20px;
  color: white;
  background-color: rgba(150, 150, 150, .5);
  border-bottom: 1px solid rgba(73, 72, 72, 0.8);
}
.faq-accordion-item:last-child .faq-accordion-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.faq-accordion a {
  text-decoration: underline;
}
.faq-active {
  /* border-bottom: 0; */
}
.faq-accordion-btn i {
  position: absolute;
  right: 20px;
}
.down-side-up {
  transform: rotate(180deg);
}

/* back to top button */
#back-to-top {
  display: none;
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 50px;
  height: 70px;
  color: #ffffff;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #ffffff;
  z-index: 100;
}
#back-to-top:hover {
  background-color: var(--primary-color);  
  transform: translateY(-10px);
  transition: all .4s ease-in-out;
  cursor: pointer;
}
#type-text {
  color: rgba(255,255,255, .8);
}
body {
  position: relative;
}