/* hero section */
#hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/images/bg-hero-main.jpg) no-repeat center center/cover;
}

.hero-container {
  background: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(8px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* gap: 20px; */
}

.hero-container .hero-logo {
  max-width: 500px;
  height: 180px;
}

.hero-container .hero-logo img {
  max-width: 100% ;
  height: auto;
  object-fit: cover;
}

.hero-texts {
  text-align: center;
}

.hero-texts p {
  font-weight: 400;
  font-size: 1.8rem;
  color: rgb(255, 255, 255, .5);
}

.hero-texts h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 5rem;
}

.hero-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  gap: 20px;
}
#type-text {
  border-bottom: 2px solid var(--primary-color)
}

/* navigation */
header {
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 100;
}

.nav-toggle {
  position: absolute;
  display: none;
  top: 14px;
  right: 10%;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 999;
}
.nav-btn {
  display: block;
  width: 25px;
  height: 3px;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: all .3s ease-in-out;
  margin: 5px 0;
  z-index: 999;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  box-shadow: 0 1px 3px 0 rgb(255, 255, 255, .8);
  /* border-bottom: 1px solid #c8b568aa; */
}
nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(8px);
  z-index: -1;
}
.navbar {
  /* position: relative;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > div{
  flex-basis: calc(100% / 3);
}

nav a:hover, .dropdown-menu a:hover {
  color: var(--primary-color);
  transition: .3s ease;
}

nav img {
  height: 80px;
  min-width: 200px;
  object-fit: cover;
  vertical-align: middle;
}
#navlogo {
  display: inline-block;
  padding: 5px 0;
}

nav ul.navlink {
  display: flex;
  /* overflow: hidden; */
  gap: 15px;
}

nav .dropdown-menu li a {
  font-size: 1.1rem;
  color: white;
  padding: 10px 15px;
  /* border-bottom: 1px solid rgba(255,255,255, .3); */
}
.nav-link-item.dropdown {
  padding-right: 15px;
}
.nav-link-item > a {
  font-weight: 500;
  color: #fff;
}
.user > a {
  padding: 0;
}

.dropdown-menu{
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.6); */
  box-shadow: 0 1px 3px 0 rgba(255,255,255, .5);
  transform: translateY(-20px);
  overflow: hidden;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
}
.dropdown-menu::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: -1;
}
.dropbtn:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown-menu{
  visibility: visible;
  transition: all .3s ease-in-out;
  transform: translateY(0);
}
.dropdown:hover .dropdown-menu a:hover {
  background-color: rgba(255,255,255, .1);
  box-shadow: 0 1px 3px 0 rgba(255,255,255, .8);
}
.dropdown box-icon {
  color: #ffffff;
  position: absolute;
  right: -15px;
  top: 20%;
  transform: rotate(0);
}
.dropdown:hover box-icon{
  color: var(--primary-color);
  transform: rotate(180deg);
  transition: transform .3s;
}

/* .dropdown li:first-child {
  display: none;
} */
.dropdown .search {
  display: none;
}
.user-search {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.search form {
  display: flex;
  justify-content: end;
  align-items: center;
  width: auto;
}
.search form input {
  font-weight: 600;
  outline: transparent;
  width: 90px;
  padding: 8px 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid var(--primary-color);  
  transition: .3s ease-in-out;
  border-right: 0;
}
.search input:hover {
  width: 100%;
  transition: .3s ease-in-out;
}
.search input:focus {
  outline: transparent;
  border: 2px solid var(--primary-color); 
  border-right: 0;
  width: 100%;
}

.search label{
  cursor: pointer;
}
.search form i {
  padding: 10px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
}
.user .dropdown-menu {
  width: max-content;
  transform: translate(-75%, -10px);
  transition: all .3s ease-in-out;
}

.user:hover .dropdown-menu {
  /* transform: translateX(-75%); */
  transform: translate(-75%, 0);
  transition: all .3s ease-in-out;
}
.user-link i {
  font-size: 2rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 8px;
}
.user-link:hover i {
  background-color: #ffffff;
  color: var(--primary-color);
}

#user-menu:hover i {
  color: #ffffff;
}

.user-menu-icon {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  /* border-right: 3px solid rgba(255,255,255, .3); */
}
/* gallery section */
.slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* carousel section */
#gallery-section {
  position: relative;
  /* overflow: hidden; */
}

.carousel-slide {
  position: absolute;
  width: 100%;
}

.carousel-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
  align-items: start;
  padding-left: 10%;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 1;
}
.carousel-description p:first-of-type{
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.carousel-description p:last-of-type{
  margin-top: 10px;
  font-size: 1.5rem;
}

.carousel-description h3 {
  font-size: 5rem;
  line-height: 1;
  color: var(--primary-color);
}
.carousel-description a {
  margin-top: 40px;
}
.carousel-description span {
  display: block;
  color: var(--logo-color);
}
.carousel-description .btn:hover {
  border: 2px solid transparent;
}
.carousel-slide img {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  /* z-index: 1; */
}
.slide-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s linear;
  animation: slideEffect 1s linear forwards;
}
@keyframes slide-effect {
  0% {
    transform: translateX(100%);
  }
  9.09% {
    transform: translateX(0)
  }
  90.01% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .4s ease;
}

.current {
  transform: translateX(0);
}

/* .slide-in {
  transform: translateX(100%);
}

.slide-out {
  transform: translateX(-100%);
} */


#prev-btn {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2rem;
  border: transparent;
  background-color: rgba(255,255,255, .3);
  color: #ffffff;
  z-index: 2;
  i {
    z-index: 1;
  }
}

#prev-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 255, 255, .4);
}

#next-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2rem;
  border: transparent;
  background-color: rgba(255,255,255, .3);
  color: #ffffff;
  z-index: 2;
  i {
    z-index: 1;
  }
}

#next-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 255, 255, .4);
}

/* services section */
#services-section {
  position: relative;
  /* background-color: linear-gradient(
      rgba(0,0,0, 0.6),
      rgba(0,0,0, 0.6)
    ); */
  height: 100%;
  backdrop-filter: blur(4px);
  background: url(/images/bg-services.jpg) fixed center center/ cover;
}
#services-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-color: rgba(255,255,255, .5); */
  background-color: rgba(0,0,0, 0.3);
  /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)); */
  backdrop-filter: blur(8px);
}

#services-section .service-description {
  color: rgba(255,255,255, .5);
  text-align: center;
}

.service-title {
  font-size: 1.5rem;
 
  text-align: center;
  color: rgba(0, 0, 0, .5);
}
/* #services-section .section-title {
  color: rgba(0, 0, 0, .7);
}
#services-section .section-description {
  color: rgba(0, 0, 0, .6);
} */
.service-title a {
  text-decoration: none;
  color: #ffffff;
}
.service-title a:hover {
  /* text-decoration: underline; */
  color: var(--primary-color);
}
.service-icon  {
  text-align: center;
  display: block;
  font-size: 3rem;
  height: auto;
  /* height: 100px; */
  /* width: 100px; */
  margin: 0 auto;
  /* padding: 10px; */
  color: var(--primary-color);
}
#services-list li a{
  display: block;
}

/* Subscribe section */
#subscribe-section {
  position: relative;
  /* height: 100vh; */
  background: 
    /* linear-gradient(rgba(255,255,255, 0.2), rgba(255,255,255, 0.2)), */
    url(/images/bg-subscribe.jpg) fixed center center/cover;
    /* height: 300px; */
}
#subscribe-section .section-title, #subscribe-section .section-divider {
  visibility: hidden;
}

.subscribe-content {
  /* display: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin: auto; */
  /* background-color: rgba(0, 0, 0, .5); */
  height: 300px;
  display: flex;
  gap: 20px;
}
.subscribe-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin: auto;
  width: 100%;
}
.sub-con {
  /* position: absolute; */
  /* top: 50%; */
  display: flex;
  flex-direction: column;
  height: 100%;
  /* backdrop-filter: blur(4px); */
  /* border: 1px solid green; */
  
}
.sub-con > div:first-child, .sub-con > div:last-child {
  flex-basis: calc(100% / 3) ;
  /* background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)); */
  /* background-color: rgba(255,255,255,.2); */
  /* background-color: rgba(0, 0, 0, .3); */
  /* backdrop-filter: blur(8px); */
  background: url(/images/bg-subscribe-2.jpg)fixed center/cover;
  /* background: url(/images/bg-services.jpg)fixed center center/cover; */
}
.sub-con .wrapper {
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(8px);

  /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)); */
  /* background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)); */
  /* background-color: rgba(0, 0, 0, .9); */
  
}
.sub-con > div:nth-child(2) {
  background-color: rgba(0, 0, 0, .5);
  /* background: url(/images/bg-subscribe.jpg) fixed center center/ cover; */
}
.sub-con > div:first-child {
  background: url(/images/bg-services.jpg)fixed center/cover;
}
/* .blur {
  background-color: rgba(150, 150, 150, .5);
  backdrop-filter: blur(4px);
} */

.subscribe-heading {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subscribe-text {
  color: #fff;
}

/* .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
} */

#subscribe-section .btn {
  background-color: transparent;
  white-space: nowrap;
}

#subscribe-section .btn:hover {
  background: var(--primary-color);
}

/* about-section */
#about-section {
  /* height: 100%;
  padding-bottom: 40px; */
  background: url(/images/bg-subscribe-2.jpg) fixed top center/cover;
  /* backdrop-filter: blur(8px); */
}

#about-section .wrapper {
  background-color: rgba(0, 0, 0, .3);
  /* backdrop-filter: blur(8px); */
}
.about-divider img {
  /* height: 100%; */
  /* height: auto;
  width: auto; */
  /* flex-basis: 100%; */
  /* flex-shrink: 1; */
  width: 50%;
  object-fit:cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.about-divider {
  /* background-color: rgba(255,255,255, 0.20); */
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  display: flex;
  gap: 20px;
  /* align-items: center; */
}
.about-details {
  align-self: center;
  padding: 0 20px 20px 0;
}
.about-heading {
  font-size: 1.5rem;
  color: white;
  margin: 20px 0;
  text-align: center;
}
.about-description {
  color: white;
  line-height: 1.5;
  text-align: justify;
}

/* custom accordion */
#faq-section {
  position: relative;
  background: url(/images/bg-service.jpg) center center/cover;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(8px);

}
#accordion-container {
  border-radius: 10px;
  border: 0;
  overflow: hidden;
}
.faq-container {
  padding-top: 30px;
}
#faq-section .wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(150, 150, 150, .5); */
  backdrop-filter: blur(8px);
  z-index: -1;
}
#accordion-container .wrapper {
  background-color: rgba(0, 0, 0, .1);
}
.faq-accordion-btn {
  text-align: start;
  /* display: block; */
  position: relative;
  width: 100%;
  padding: 20px;
  border: none;
  color: #fff;
  background-color: rgba(255,255,255, .5);
  border-bottom: 1px solid rgba(73, 72, 72, 0.8);
  backdrop-filter: blur(8px);
  font-size: 1.2rem;
}
.faq-accordion-item:first-child .faq-accordion-btn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.faq-accordion-item:last-child .faq-accordion-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0;
}
.faq-accordion-btn:hover {
  cursor: pointer;
}
.faq-accordion-content {
  display: none;
  padding: 20px;
  color: white;
  background-color: rgba(150, 150, 150, .5);
  border-bottom: 1px solid rgba(73, 72, 72, 0.8);
  backdrop-filter: blur(8px);

}
.faq-accordion-item:last-child .faq-accordion-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.faq-accordion a {
  color: blue;
  text-decoration: underline;
  padding: 0;
  padding-top: 10px;
}

.faq-accordion-btn .indicator {
  position: absolute;
  right: 20px;
}
.down-side-up {
  transform: rotate(180deg);
}

/* contact */
#contact-section {
  position: relative;
  /* background: url(/images/bg-contact.jpg) center center/cover; */
  backdrop-filter: blur(8px);
  height: 100%;
}
#contact-section img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center top;
}
#contact-section .wrapper, #subscribe-form .wrapper {
  background-color: rgba(0,0,0, .6);
  backdrop-filter: blur(8px);
}
/* .contact-divider {
  display: flex;
  gap: 20px;
} */
.contact-divider > div {
  /* border: 1px solid green; */
  flex-basis: 50%;
  padding: 20px;
  padding-top: 30px;
  position: relative;
  border-radius: 20px;
  /* margin: auto; */
  /* background-color: rgba(0, 0, 0, .3); */
  backdrop-filter: blur(8px);
}
.first-name, .last-name,.email,.contact,.subject, .message, .password, .password2, .country, .birthday {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  position: relative;
}
#contact-section .contact-form {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 4px 0 rgba(255,255,255, .6);
}
.contact-form input {
  /* position: absolute; */
  width: 100%;
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 50px;
  /* outline: 0; */
  border: 0;
  background-color: rgba(238, 233, 233, 0.247);
  backdrop-filter: blur(8px);
  color: #fff;
  font-weight: 500;
}
.contact-form label {
  position: absolute;
  top: -10px;
  left: 15px;
  font-size: 1rem;
  color: #fff;
  display: block;
}
.message label {
  /* flex-basis: 100%; */
  top: -20px;
}
.contact-form textarea {
  border-radius: 5px;
  background-color: rgba(238, 233, 233, 0.247);
  border: 0;
  /* backdrop-filter: blur(8px); */
  width: 100%;
  color: #fff;
  padding: 10px 15px;
} 


#submit-btn {
  width: max-content;
  padding: 10px 20px ;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid #fff;
}
#submit-btn:hover {
  cursor: pointer;
  background-color: #229b50;
  backdrop-filter: blur(8px);
  border: 2px solid #fff;
  transition: all .3s ease;
}
#contact-form ::placeholder {
  color: #fff;
}
#contact-form {
  max-width: 100%;
}
#contact-form .contact-reminder{
  color: rgba(255,255,255, .6);
  margin-top: 20px;
  font-size: .9rem;
}
.contact-reminder a {
  display: inline;
  text-decoration: underline;
}
.contact-reminder a:hover, .flex-container a:hover:not(.flex-container .btn), .footer-list a:hover, #subscribe-form a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
.flex-container {
  display: flex;
  padding: 40px 0;
  gap: 20px;
}
.flex-container .flex-item {
  flex-basis: calc(100% / 3);
  text-align: center;
  color: #fff;
  padding: 40px 0;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(255,255,255, .4);
}
.flex-item i,.flex-item h2, .flex-item p, .flex-item a {
  padding: 10px;
}
.flex-item a:not(.flex-item .btn) {
  text-decoration: underline;
}
.flex-item .btn {
  background-color: transparent;
  width: max-content;
  margin: auto;
  white-space: nowrap;
  font-size: 1rem;
}
.flex-item .btn:hover {
  background-color: var(--primary-color);
}
.flex-item i {
  font-size: 2rem;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255, .5);
  backdrop-filter: blur(8px);
}
/* footer section */
#footer-section {
  background: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0,.8));
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255,255,255, .7);
  box-shadow: 0 0 5px 0 rgba(255,255,255, .4);
}
.footer-container {
  display: grid;
  /* padding: 20px; */
  grid-template-columns: repeat(3, 1fr);
}
.footer-container > div {
  padding: 20px 0;
  place-self: center;
}
.footer-item:last-child {
  padding: 0;
  grid-column: span 3;
  width: 100%;
}
.foot-item {
  color: #fff;
}
.foot-item-header {
  font-size: 2rem;
  padding-bottom: 20px;
}
.foot-text {
  color: rgba(255,255,255, .8);

}
.foot-item span.foot-text {
  color: rgba(255,255,255, .8);
}
.footer-list li {
  padding: 10px 0;
}
.footer-list a {
  display: inline;
  text-decoration: underline;
  color: rgba(255,255,255, .8);
}
.footer-list a:hover {
  text-decoration: none;
}
.footer-list .text-light {
  color: #fff;
  font-weight: 600;
}
#footer-section a {
  padding: 5px;
}
#footer-section a:hover {
  color: var(--primary-color);
}
.footer-company li{
  display: flex;
  gap: 5px;
}
.footer-company li i {
  padding: 5px 0;
  color: var(--primary-color);

}
.footer-social {
  padding: 20px;
}
.foot-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.foot-last-item {
  text-align: center;
  padding: 30px 0;
}
/* subscribe / login /sign up */
#subscribe-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: url(/images/bg-hero.jpg) no-repeat  center center/cover;
}
.sub-form-header h2, .sub-form-header p {
  color: #fff;
}
#subscribe-form .section-description a {
  text-decoration: underline;
}
#subscribe-form .section-description a:hover {
  text-decoration: none;
}
#subscribe-form .contact-form .section-title {
  font-size: 2rem;
  padding-top: 0;
  position: relative;
}
#subscribe-form .section-title .go-back {
  position: absolute;
  top: 0;
  left: -20px;
  color: white;
  font-size: .8rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-left: 0;
  background-color: var(--primary-color) ;
}
.go-back-arrow {
  display: none;
}
#subscribe-form .section-title .go-back:hover {
  border: 2px solid white;
  border-left: 0;
}
#subscribe-form .section-title .go-back::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 20px solid var(--primary-color);
  top: -20%;
  left: -20px;
  transform: translateX(20px);
  transition: all .4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
#subscribe-form .section-title .go-back::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 25px solid white;
  top: -33%;
  left: -23px;
  transform: translateX(20px);
  transition: transform .4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: -2;
}
#subscribe-form .section-title .go-back:hover::before {
  transition: all .4s ease;
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}
#subscribe-form .section-title .go-back:hover::after {
  border-right: 25px solid white;
  transition: all .4s ease;
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}
#subscribe-form .section-title .go-back:hover i {
  transform: translateX(-15px);
  transition: transform .4s ease;
}
#subscribe-form #contact-form .section-header {
  padding-bottom: 10px;
}

#subscribe-form .contact-form {
  position: relative;
  margin: 20px auto;
  height: auto;
  max-width: 600px;
  box-shadow: 0 0 4px 0 rgba(255,255,255, .6);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(8px);
}

#subscribe-form #contact-form {
  width: 100%;
  height: auto;
  padding: 20px;
}
/* #subscribe-form img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
} */
#subscribe-form form input {
  width: 100%;
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 50px;
  /* outline: 0; */
  border: 0;
  /* background-color: rgba(238, 233, 233, 0.2); */
  /* backdrop-filter: blur(8px); */
  color: #fff;
  font-weight: 500;
}

#subscribe-form select {
  width: 100%;
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 50px;
  /* background-color: rgba(0, 0, 0, .5); */
  background-color: rgba(238, 233, 233, 0.247);
  color: #fff;
  backdrop-filter: blur(8px);
}
#subscribe-form select option {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
}

#subscribe-form .contact-reminder{
  color: rgba(255,255,255, .7);
  padding-bottom: 10px;
  margin-top: 0;
  font-size: .9rem;
  position: relative;
}
.hr {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  color: #fff;
  padding: 5px;
}
.hr::after, .hr::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 45%;
  background-color: rgba(255,255,255, .7);
  z-index: 2;
  top: 50%;
}
.hr::before {
  right: 0;
}
.hr::after {
  left: 0;
}
.google .btn, .facebook .btn {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin: auto;
  padding: 10px;
  background-color: rgba(238, 233, 233, 0.247);
  cursor: pointer;
  text-transform: none;
  white-space: nowrap;
  backdrop-filter: blur(8px);
}
.google .btn:hover, .facebook .btn:hover {
  background-color: rgba(33, 156, 80, .9);
  /* border: 2px solid #fff; */
}
.google i, .facebook i {
  padding-right: 5px;
}
.brand-sign-up > div {
  padding: 10px 0;
}
.submit #register-btn {
  margin: auto;
  border: 2px solid transparent;
  background-color: var(--primary-color);
  backdrop-filter: blur(8px);
  cursor: pointer;
}
.submit #register-btn:hover {
  border: 2px solid #fff;
}
#subscribe-form a {
  display: inline;
  padding: 0;
}

