* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

/* body {
  background: linear-gradient(45deg, rgba(0,0,0,.6), rgba(0,0,0,.6));
  width: 100%;
  height: 100vh;
} */
.text-white {
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --logo-color: #c8b568;
  --primary-color: #229b50;
}

:hover {
  transition: all 300ms ease-out;
}

/* buttons */
.btn {
  font-size: 1.2rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 2px solid white;
  padding: 15px 30px;
  text-transform: uppercase;
}

/* glass looking button */
/* .btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 155, 80, .5);
  overflow: hidden;
  backdrop-filter: blur(8px);
  border-radius: 50px;
  z-index: -1;
} */

/* #gallery-btn {
  border: 2px solid white;
} */

.primary-btn:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid white;
}

.secondary-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid white;
  color: white;
}

/* a links */

a {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* a:hover {
  color: var(--primary-color); 
  color: white;
} */

a::before,
a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: var(--logo-color);
  transition: width 300ms ease-out;
}

a::before {
  left: 50%;
  transform: translateX(-50%);
}

a::after {
  right: 50%;
  transform: translateX(50%);
}

a:not(#navlogo, .hero-links a, #slider a, .carousel-description a, #services-section a, .faq-accordion a, .user > a, #subscribe-section a, .contact-reminder a, .flex-container a, .footer-list a, #subscribe-form a, .property-card-details a, .mobile-nav a):hover::before,
a:not(#navlogo, .hero-links a, #slider a, .carousel-description a, #services-section a, .faq-accordion a, .user > a, #subscribe-section a, .contact-reminder a, .flex-container a, .footer-list a, #subscribe-form a, .property-card-details a, .mobile-nav a):hover::after {
  width: 100%;
}

/* font color */
.text-primary {
  color: #ffffff;
}

.text-logo {
  color: var(--logo-color);
}

/* container */
.container {
  max-width: 80%;
  margin: auto;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(4px); */
}
section:not(section#contact-section) {
  height: 100vh;
  overflow: hidden;
}
.section-title {
  text-align: center;
  padding-top: 90px;
  font-size: 3rem;
  font-weight: 700;
  /* color: rgba(0, 0, 0, 0.7); */
  color: white;
}

.section-description {
  text-align: center;
  /* color: rgba(0, 0, 0, 0.7); */
  color: white;
  margin-bottom: 20px;
}
.section-divider {
  width: 100px;
  height: 4px;
  background: var(--logo-color);
  margin: 0 auto;
  margin-bottom: 20px;
}
.hide {
  display: none;
}

.show {
  display: block;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.grid div{
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  /* background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)); */
  backdrop-filter: blur(8px);
  padding: 20px;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); */
}
.grid div:hover {
  box-shadow: 0 0 8px 2px rgba(255,255,255,.5);
  transition: all 350ms ease;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1fr;
  gap: 20px;
}
/* .grid-container > div {
  border: 1px solid green;
} */
.grid-item {
  grid-column: span 2;
}
.indicator {
  transition: transform 0.3s;
}

.active .indicator {
  transform: rotate(180deg);
}

/* overlay */
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 27%,
    rgba(0, 0, 0, 0.5) 90%
  );
  /* backdrop-filter: blur(4px); */
  z-index: -1;
}

/* .overlay * {
  z-index: 10;
} */

/* back to top button */

#back-to-top {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 60px;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #ffffff;
  backdrop-filter: blur(8px);
  overflow: hidden;
  z-index: 100;
}
#back-to-top:hover {
  background-color: var(--primary-color);  
  transform: translateY(-10px);
  transition: all .4s ease-in-out;
  cursor: pointer;
  backdrop-filter: blur(8px);

}
#type-text {
  color: rgba(255,255,255, .8);
}